
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 10px 20px; 
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.App-header h1 {
  font-size: 2rem; 
  margin: 10px 0;
}

.App-header p {
  font-size: 1rem;
  margin: 5px 0; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  padding-top: 70px; 
  padding: 20px;
  min-height: 100vh;
  background-color: #f1f1f1;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth; 
}


.shoe-item {
  background-color: #ffffff; 
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.shoe-item  h3 {
  color: #333;
  margin-bottom: 10px;
}

.shoe-item  p {
  color: #555;
}

.shoe-item  button {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.shoe-item  button:hover {
  background-color: #2980b9;
}


body.dark-mode .shoe-item {
  background-color: #0000; 
  border: 1px solid #444; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

body.dark-mode .shoe-item h2 {
  color: #e0e0e0;
}

body.dark-mode .shoe-item p {
  color: #cccccc; 
}

body.dark-mode .shoe-item button {
  background-color: #3f51b5; 
}

body.dark-mode .shoe-item button:hover {
  background-color: #2c3e8e; 
}


.perfil-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.user-info, .user-settings {
  margin-bottom: 20px;
}

.user-info p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.user-info label {
  font-size: 1.1rem;
  display: block;
  margin-bottom: 5px;
}

.user-info input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: inline-block;
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

.config-item {
  margin-bottom: 15px;
}

.change-password input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

body.dark-mode .perfil-container {
  background-color: #1f1f1f;
}

body.dark-mode button {
  background-color: #3f51b5;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

body.dark-mode .App-header {
  background-color: #333333;
}

.App-content {
  background-color: #f1f1f1;
}

body.dark-mode .App-content {
  background-color: #181818;
}

body.dark-mode .user-info input, 
body.dark-mode .change-password input {
  background-color: #333;
  color: #fff;
  border-color: #444;
}

body.dark-mode .navbar:hover{
background-color: #2c3e8e;
}



@media (max-width: 390px){
  .App-header{
    max-height: 390px;
    font-size: small;
    width: max-content;
  }
  .navbar-links{
    max-width: 390px;
    height: min-content;
    align-items: center;
  }
}